doctype html
head
	title #{title} - My Site
	link(rel='stylesheet', href='/css/stylesheetbritelite.css')
	script(type='text/javascript', src="/javascript/myFavoriteJSFunctions.js")
	script(type='text/javascript', src="/javascript/brightlight.js")

body(onload="brightLightMain()")
	
	