head
	title= title
	link(rel="stylesheet", href="bootstrap.min.css")
	script(type='text/javascript', src="/socket.io/socket.io.js")
	script(type='text/javascript', src="/javascript/client.js")
	script(src="/javascript/paper.js")

body
	div
		canvas(id="draw", resize="true")
		script(type="text/paperscript", src="/javascript/draw.js", canvas="draw")